- name: destroy devops project
  hosts: localhost
  connection: local
  gather_facts: False
  vars_files:
    - group_vars/env
    - group_vars/colman.env
  vars:
      ansible_python_interpreter: /usr/bin/python3

  tasks:    
  - name: Delete EC2 instance
    ec2:
      region: "{{ aws_region }}"
      state: absent
      instance_tags:
        Name: "{{ server_name }}"
        Environment: "{{ env }}"
      instance_ids: "{{server_id}}"

  - name: Delete Route Table
    ec2_vpc_route_table:
      region: "{{ aws_region }}"
      vpc_id: "{{ vpc_id }}"
      route_table_id: "{{ route_table_id }}"
      tags:
          Name: "{{ vpc_name }}_public_rt"
      state: absent

  - name: unmap those public address before detaching the gateway
    wait_for:
      timeout: 40

  - name: Delete internet gateway
    ec2_vpc_igw:
      region: "{{ aws_region }}"
      vpc_id: "{{ vpc_id }}"
      state: absent
      tags:
        Name: "{{ vpc_name }}_public_rt"

  - name: Delete Subnet
    ec2_vpc_subnet:
      region: "{{ aws_region }}"
      vpc_id: "{{ vpc_id }}"
      cidr: "{{ subnet_cidr }}"
      state: absent

  - name: Delete security group
    ec2_group:
      region: "{{ aws_region }}"
      group_id: "{{ sg_id }}"
      state: absent
  
  - name: Delete AWS VPC
    ec2_vpc_net:
      name: "{{ vpc_name }}"
      cidr_block: "{{ network }}"
      region: "{{ aws_region }}"
      state: absent
